<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <form action="/users" method="post" accept-charset="utf-8">
    <table>
      <caption>Login Form</caption>

      <tr>
        <td>User</td>
        <td><input type="text" name="user" value="" placeholder="User Name" /></td>
      </tr>
      <tr>
        <td>data</td>
        <td><input type="text" name="pass" value="" placeholder="User Name" /></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" name="login" value="Login"></td>
      </tr>
    </table>
  </form>
  </body>
</html>
