<!DOCTYPE html>
<html>
<head>
    <title>smarthepia</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p>Logged as: <%= typeof username!='undefined' ? username : 'undefined undefined' %></p>
<a href="/logout">Logout</a>
<p>manager page</p>
</body>
</html>
