<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>smarthepia - manager</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/ui/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- END Custom CSS-->

    <!-- BEGIN datatable -->
    <link rel="stylesheet" type="text/css" href="/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/tables/datatable/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/tables/extensions/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/tables/extensions/dataTables.colVis.css">
    <!-- END datatatable -->

    <!-- BEGIN toastr -->
    <link rel="stylesheet" type="text/css" href="/vendors/css/extensions/toastr.css">
    <!-- END toastr -->

</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns">
<% include ../partials/nav %>
<% include ../partials/menu %>
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Dependency</h3>
                <span><%= dateTime %></span>
            </div>
        </div>
        <div class="content-body">
            <section id="advance-charts">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-primary">
                            <div class="card-header">
                                <h4 class="card-title">Inventory</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="dependencyTable" class="table table-striped table-bordered text-inputs-searching table-hover dataTable">
                                            <thead>
                                            <tr>
                                                <th>Dep. name</th>
                                                <th>Div. name</th>
                                                <th>IP</th>
                                                <th>Port</th>
                                                <th>Method</th>
                                                <th>Comment</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                            <tr>
                                                <th rowspan="1" colspan="1">
                                                </th>
                                                <th rowspan="1" colspan="1">
                                                </th>
                                                <th rowspan="1" colspan="1">
                                                </th>
                                                <th rowspan="1" colspan="1">
                                                </th>
                                                <th rowspan="1" colspan="1">
                                                </th>
                                                <th rowspan="1" colspan="1">
                                                </th>
                                                <th rowspan="1" colspan="1">
                                                </th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="form-repeater">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-primary">
                            <div class="card-header">
                                <h4 class="card-title" id="repeat-form">Add devices dependency</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <form id="createDependencySubmit" class="form">
                                        <div class="row">
                                            <div class="form-group col-sm-12 col-md-2" style="">
                                                <label for="donationinput2">Dependency name
                                                    <span class="danger">*</span>
                                                </label>
                                                <input type="text" id="depName" name="depName" class="form-control square" placeholder="Dependency name" autocomplete="off" required>
                                            </div>
                                        </div>
                                        <div class="repeater-default">
                                            <div data-repeater-list="dependency">
                                                <div data-repeater-item="" style="">
                                                    <div class="row">
                                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                                            <label for="email-addr">Device name
                                                                <span class="danger">*</span>
                                                            </label>
                                                            <br>
                                                            <input name="depdName" type="text" class="form-control depdName" id="depdName" placeholder="Device name" autocomplete="off" required>
                                                        </div>
                                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                                            <label for="pass">IP
                                                                <span class="danger">*</span>
                                                            </label>
                                                            <br>
                                                            <input name="depdIp" type="text" class="form-control depdIp" id="depdIp" placeholder="IP address" autocomplete="off" required>
                                                        </div>
                                                        <div class="skin skin-flat form-group mb-1 col-sm-12 col-md-2">
                                                            <label for="tel-input">Port
                                                                <span class="danger">*</span>
                                                            </label>
                                                            <br>
                                                            <input name="depdPort" class="form-control" type="number" value="80" id="depdPort" placeholder="Port" autocomplete="off" required>
                                                        </div>
                                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                                            <label for="donationinput2">Method
                                                                <span class="danger">*</span>
                                                            </label>
                                                            <select name="depdMethod" id="depdMethod" class="form-control square">
                                                                <option value="" selected="" disabled="" hidden="">Select method</option>
                                                                <option value="Ping">Ping</option>
                                                                <option value="REST/HTTP">REST/HTTP</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                                            <label for="bio" class="cursor-pointer">Comment</label>
                                                            <br>
                                                            <textarea name="depdComment" class="form-control" id="bio" rows="1" placeholder="Comment" autocomplete="off" ></textarea>
                                                        </div>
                                                        <div class="form-group col-sm-12 col-md-2 text-center mt-2">
                                                            <button type="button" class="btn btn-danger" data-repeater-delete=""> <i class="ft-x"></i> Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <button type="button" data-repeater-create="" class="btn btn-primary">
                                                    <i class="ft-plus"></i> Add
                                                </button>

                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Send
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<% include ../partials/footer %>

<!-- BEGIN VENDOR JS-->
<script src="/vendors/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script type="/text/javascript" src="vendors/js/ui/prism.min.js"></script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN STACK JS-->
<script src="/js/core/app-menu.js" type="text/javascript"></script>
<script src="/js/core/app.js" type="text/javascript"></script>
<script src="/js/scripts/customizer.js" type="text/javascript"></script>
<!-- END STACK JS-->
<!-- BEGIN PAGE LEVEL JS-->
<!-- END PAGE LEVEL JS-->

<!-- BEGIN form reapter -->
<script src="/vendors/js/forms/repeater/jquery.repeater.min.js" type="text/javascript"></script>
<script src="/js/scripts/forms/form-repeater.js" type="text/javascript"></script>
<!-- ENG form repeter -->

<!-- BEGIN datatable -->
<script src="/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
<script src="/js/scripts/tables/datatables/datatable-api.js" type="text/javascript"></script>
<script src="/js/scripts/tables/datatables/datatable-basic.js" type="text/javascript"></script>
<!-- END datatable -->

<!-- BEGIN toastr -->
<script src="/vendors/js/extensions/toastr.min.js" type="text/javascript"></script>
<script src="/js/scripts/extensions/toastr.js" type="text/javascript"></script>
<!-- END toastr -->

<script>

    onLoad();

    function onLoad(){
        genDepenedencyTable();
    }

    function genDepenedencyTable(){
        $('#dependencyTable').dataTable({
            dom: 'lBfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            autoWidth: false,
            destroy: true,
            searching: true,
            type: 'GET',
            ajax: "/dependency/listall",
            columns: [
                { data: "depName"},
                { data: "divName"},
                { data: "ip"},
                { data: "port"},
                { data: "method"},
                { data: "comment"},
                { data: "action"}
            ], columnDefs: [{
                targets: 6,
                searching: false,
                orderable: false,
                data: null,
                className: "text-center align-middle",
                render: function (data, type, full, meta){
                    return '<div class="btn-group" >\n' +
                        '    <button type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\n' +
                        '        Action\n' +
                        '    </button>\n' +
                        '    <div class="dropdown-menu" x-placement="bottom-start">\n' +
                        '        <button id="editUser" class="dropdown-item" type="button" data-toggle="modal" data-target="#modalEditUser" >Edit</button>\n' +
                        '        <button id="deleteUserSubmit" class="dropdown-item" type="button">Delete</button>\n' +
                        '    </div>\n' +
                        '</div>';
                }
            }, {targets: 0, className: "text-center align-middle"},
                {targets: 1, className: "text-center align-middle"},
                {targets: 2, className: "text-center align-middle"},
                {targets: 3, className: "text-center align-middle"},
                {targets: 4, className: "text-center align-middle"},
                {targets: 5, className: "text-center align-middle"}]
        });
    }

    // Check ip
    function validateIP46(str){

        // IPV6 and IPV4 with hostname
        //return /((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))|(^\s*((?=.{1,255}$)(?=.*[A-Za-z].*)[0-9A-Za-z](?:(?:[0-9A-Za-z]|\b-){0,61}[0-9A-Za-z])?(?:\.[0-9A-Za-z](?:(?:[0-9A-Za-z]|\b-){0,61}[0-9A-Za-z])?)*)\s*$)/.test(str);
        // IPV6 and IPV4 without hostname
        return /((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))/.test(str);
    }

    // Create new dependency device
    $("#createDependencySubmit").submit(function( event ) {
        event.preventDefault();

        // Check if all the IP are valid
        var validIp = true;
        $('.depdIp').each(function(i, obj) {
            if(!validateIP46($(this).val())){
                validIp = false;
            }
        });

        // If on or more IP are in error
        if (!validIp) {
            toastr.error("IP must be in IPv4 or IPv6 format", "error", {closeButton: true});
        } else {

            // Select error if not selected
            if($("#depdMethod option:selected").text() === "Select method") {
                toastr.error("You must choose a method", "error", {closeButton: true});
            }else {

                $.ajax({
                    url: "/dependency/create",
                    type: "post",
                    dataType: "json",
                    data: $('#createDependencySubmit').serialize(),
                    success: function (response) {

                        // TODO reload dependency inventory
                        $("#createDependencySubmit").get(0).reset();
                        $('#dependencyTable').DataTable().ajax.reload();
                        if (response.status === "success") {
                            toastr.success(response.message, response.status, {closeButton: true})
                        } else if (response.status === "error") {
                            toastr.error(response.message, response.status, {closeButton: true})
                        } else {
                            toastr.error("Undefined", "error", {closeButton: true})
                        }
                    }
                });
            }
        }
    });

</script>


</body>
</html>