<!DOCTYPE html>
<html>
  <head>
    <title>smarthepia</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Login Form</h1>
  <form action="" method="post" accept-charset="utf-8">
    <table>
      <tr>
        <td>Username: </td>
        <td><input type="email" name="username" value="" placeholder="mail@gmail.com" required /></td>
      </tr>
      <tr>
        <td>Password: </td>
        <td><input type="password" name="password" value="" placeholder="Password" required /></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" name="login" value="Login"></td>
      </tr>
    </table>
  </form>
  </body>
</html>
